


*{
    box-sizing: border-box;
    
}
body{
    color: #000;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: #0998FF;
}
ul{
    list-style: none;
}
.container{
    max-width: 1700px;
    padding: 20px;
    z-index: 2;
    margin: 0 auto;
}
.header_inner{
    display: flex;
    justify-content: space-between;
}
.content_center_header{
    display: flex;

}
.icons_social{
    padding-left: 30px;
}
.icons_social img{
    padding: 13px;
    border-radius: 20px;
    width: 45px;
    margin-left: 10px;
}
.icon_inst{
    background: linear-gradient(181.45deg, #AB30A7 -2.68%, #D5223E 98.77%);

}
.icon_viber{
    background: #8F5DB7;

}
.icon_wp{
    background: #25D366;

}
.icon_vk{
    background: #6695BD;
    padding: 30px;
}
.sub_center_header{
    text-align: center;
    text-decoration: underline;
    padding-top: 10px;
}
.sub_center_header a{
    padding-left: 20px;
}
.text_adress{
    color: #252525;
    font-weight: 600;
    font-size: 18px;
}
.right_header{
    text-align: right;
}
.title_right_header{
    color: #252525;
    font-size: 18px;
    font-weight: 600;
}
.tel span{
    font-size: 40px;
    color: #8067D4;
    font-family: 'Roboto', sans-serif;
}
.tel{
    font-weight: 600;
    font-size: 20px;

}
.menu{
    display: flex;
    justify-content: center;
   margin-top: 30px;
}
.list_item{
    display: flex;
    justify-content: space-between;

    padding: 0;
}
.link_menu{
    padding-left: 30px;
}
.link_menu_last{
    padding-left: 30px;
}
.href_menu{
    font-weight: 600;
    font-size: 20px;
    color: #000;



}
.href_menu:hover{
    text-decoration: underline;
    text-decoration-color: #0998FF;
}
.slider_block{


    padding-left: 60px;
}
.slider_main_inner{
        background-image: url(img/slider_fone.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 620px;
}
.title_main_slider{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 48px;

    padding-top: 130px;
}
.title_main_slider span{
    color: #8B2CD6;
}
.text_main_slider{
    font-size: 20px;
    padding-top: 40px;

}
.block_slider_main_btns{
    padding-top: 60px;
    /* width: 600px; */
    display: flex;

}
.btn_slider_reg{
    margin-left: 30px;
    float: right;
}
.btn_slider_price{
    float: left;
}
.href_btn_slider_price{
    background-color: #98D253;
    padding: 15px 27px;
    color: #fff;
    font-size: 18px;
    transition: .3s;
    border-radius: 10px;
}
.href_btn_slider_reg{
    background-color: #8067D4;
    padding: 15px 27px;
    color: #fff;
    font-size: 18px;
    transition: .3s;
    border-radius: 10px;
}
.href_btn_slider_price:hover{
    background-color: #8067D4;
}
.href_btn_slider_reg:hover{
    background-color: #98D253;
}
.dots-style {
    text-align: center;
    display: flex;
    justify-content: center;
    list-style: none;
  }
.dots-style button {
    background: #E4E4E4;
    border: none;
    border-radius: 100%;
    font-size: 0;
    height: 11px;
    width: 7px;
    margin: 5px;
    outline: none;
}
.slick-dots li.slick-active button:before {

}
.dots-style li[class="slick-active"] button {
    background-color: #98D253;
    border-radius: 8px;
    width: 40px;

}
.services_inner{
    text-align: center;
}
.title_services{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 35px;
    padding-top: 40px;
}
.text_services{
    padding-top: 30px;
    font-size: 21px;
}
.btn_services{
    margin-top: 50px;
}
.href_btn_services{
    padding: 15px 30px;
    color: #fff;
    font-size: 18px;
    background-color: #98D253;
    border-radius: 30px;
}
.block_services,
.block_services_second{
    display: flex;
    margin-top: 70px;
    justify-content: center;
}
.card_services_block{
    margin: 0px 20px;
    background: linear-gradient(0deg, #F4F4F4, #F4F4F4), #FFFFFF;
    border-radius: 30px;
    text-align: left;
}
.title_card_services{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 23px;
    max-width: 400px;
    padding-top: 20px;
    padding-left: 40px;
}
.text_services_card{
    padding-left: 40px;
    max-width: 300px;
    padding-top: 10px;
}
.btn_services_card{
    margin-left: 40px;
    margin-top: 50px;
    margin-bottom: 30px;
}
.href_btn_services_card{
    color: #fff;
    background-color: #8067D4;
    padding: 9px 25px;
    border-radius: 9px;
    transition: .3s;
}
.href_btn_services_card:hover{
    background-color: #98D253;
}
.comments{
    padding-top: 70px;
}
.title_comments{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 30px;
    position: relative;
}
.title_comments::after{
    content: '49';
    font-size: 20px;
    color: #8067D4;
    position: absolute;
    bottom: 20px;
}
.review_comments{
    display: flex;
    padding-top: 40px;
}
.review_block_content{
    padding-top: 7px;
}
.block_rare_comments{
    display: flex;
    padding-top: 10px;
}
.text_review{
    font-size: 22px;
}
.review_block_content{
    padding-left: 15px;
}
.stars_reviews{
    padding-left: 10px;
}
.lvl_review{
    padding-left: 10px;
}
.name_review{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
.hrefs_comments{
    display: flex;
    padding-top: 40px;
}
.href_comment{
    padding-left: 20px;
    transition: .2s;
}
.href_comment:hover{
    text-decoration: underline;
}
.btn_hrefs_comment{
    margin-left: 34px;
}
.href_btn_comment{
    color: #fff;
    font-size: 18px;
    background-color: #0998FF;
    padding: 9px 14px;
    transition: .2s;
}
.href_btn_comment:hover{
    background-color: #fff;
    color: #0998FF;
    text-decoration: underline;
}
.progress{
    padding-top: 50px;
}
.progress_inner{
    display: flex;
    justify-content: space-between;
}
.title_progress{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 30px;
}
.text_progress{
    font-size: 22px;
    padding-top: 20px;
    max-width: 1000px;
}
.years_progress_main{
    color: #E4E4E4;
    font-size: 450px;
    font-weight: 700;
}
.main_progress_text{
    display: flex;
    
}
.right_block_main_progress_text{
padding-top: 130px;
padding-left: 30px;
}
.working_since{
    max-width: 400px;
    font-size: 20px;
    color: #7C7C7C;
}
.sub_title_text_progress_main{
    background-color: #E92E2E;
    color: #fff;
    font-size: 20px;
    border-radius: 0px 30px 30px 0px;
    max-width: 250px;
    padding: 5px 19px 5px 14px;
    margin-top: 20px;
}
.right_block_progress{
    padding-top: 80px;

}
.years_text_block_main_progress{
    color: #E4E4E4;
    font-size: 200px;
    font-weight: 700;
}
.block_text_right_progress{
    background: #FCFCFC;
    border: 1px solid #E0E0E0;
    border-radius: 20px;
    height: 50%;
}
.achive_right_progress-now{
    background: #98D253;
    border: 1px solid #E0E0E0;
    border-radius: 20px;
    padding: 15px 20px;
    max-width: 350px;
    color: #fff;
    font-weight: 700;
}
.blocks_progress_right{
    display: flex;
}
.achive_right_progress{
border: 1px solid #E0E0E0;
border-width: 0px 0px 1px 0px;
padding: 15px 28px;
max-width: 350px;
font-weight: 700;
}
.years_text_right_progress{
    padding: 30px 0px;
}
.text_questions{
    max-width: 480px;
    padding-top: 15px;
    padding-left: 37px;
    font-size: 19px;
}
.title_questions{
    max-width: 480px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 22px;
}
.items_questions{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.title_block_question{
    display: flex;
}
.img_block_questions{
    padding-right: 20px;
}
.href_questions_text{
    text-decoration: underline;
}
.btn_questions{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}
.href_btn_questions{
    padding: 15px 30px;
    background: #98D253;
border-radius: 30px;
    color: #fff;
}
.advice{
    margin-top: 40px;
}
.advice_img{
    width: 100%;
}
.text_block_advice{
    max-width: 430px;
    padding: 0px 20px;
    padding-top: 15px;
    font-size: 19px;
}
.title_block_advice{
    max-width: 430px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 29px;
    padding: 0px 20px;
    padding-top: 20px;
}
.advice_items{
    display: flex;
    justify-content: space-between;
}
.btn_advice{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}
.href_btn_advice{
    padding: 15px 27px;
    color: #fff;
    background: #8067D4;

    border-radius: 10px;
}
.footer{
    background: linear-gradient(266.42deg, #B75D5D 1.66%, #6E58B8 98.41%);
}
.footer_inner{
    color: #fff;
    display: flex;
    justify-content: space-between;
}
.title_footer_first_block,
.title_footer_first_block{
        font-size: 28px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    padding-top: 70px;
}
.sub_title_first_block{
    font-size: 18px;
    padding-top: 30px;
}
.text_first_footer_block{
    font-size: 15px;
    max-width: 480px;
}
.hrefs_first_footer_block{
    padding-top: 10px;
    color: #fff;
    text-decoration: underline;
}
.sub_text_hrefs_first_footer{
    max-width: 480px;
    padding-top: 20px;
}
.links_first_footer_block{
        margin-top: 30px;
}
.links_first_footer_block a{
    color: #fff;
    text-decoration: underline;
    padding-right: 20px;

}
.second_footer_list{
    padding: 0px;
}
.href_link_second_footer{
    font-size: 17px;
    color: #fff;

}
.link_footer_second{
    padding-top: 24px;
    max-width: 300px;
}
.footer_third_block{
    padding-top: 100px;
}
.text_logo{
    display: none;
}
.text_tel_right_block{
    display: none;
}
.tel_block_right{
    display: none;
}
.img_icon_block_tel{
    display: none;
}
.tel_block_comment{
    display: none;
}
.next_footer_link{
    display: none;
}
@media(max-width:1700px){
    .block_services,
    .block_services_second{
        flex-wrap: wrap;
    }
    .card_services_block{
        margin-top: 20px;
    }
}
@media(max-width:1580px){
    .items_questions{
        justify-content: center;
    }
    .block_question{
        padding-top: 46px;
    }
}
@media(max-width:1433px){
    .years_progress_main {
        font-size: 330px;
    }
    .right_block_main_progress_text {
        padding-top: 23px;
        padding-left: 30px;
    }
}
@media(max-width:1345px){
    .block_text_right_progress{
        display: none;
    }
}
@media(max-width:1110px){
    .slider_main_inner{
        background: none;
    }
}
@media(max-width:1077px){
    .title_right_header {
        font-size: 16px;
    }
    .tel span {
        font-size: 32px;
    }
    .content_center_header,
    .center_header{
        flex-wrap: wrap;
    }
    .content_center_header{
        justify-content: center;
    }
    .icons_social{
        margin-top: 20px;
    }
    
}
@media(max-width:1007px){
    .img_review{
        height: 80px;

    }
}
@media(max-width:946px){
    .block_services{

    }
    .block_services_second{
        display: none;
        
    }
}
@media(max-width:897px){
    .tel span {
        font-size: 28px;
    }
    .title_right_header {
        display: none;
    }
    .years_progress_main {
        font-size: 293px;
    }
    .years_text_block_main_progress {
        font-size: 100px;

    }
}
@media(max-width:847px){
    .advice_items{
        flex-wrap: wrap;
        justify-content: center;
    }
    .advice_block{
        padding-top: 50px;
    }
    .footer_inner{
        flex-wrap: wrap;
    }
}
@media(max-width:780px){
    .slider_block {
        padding-left: 0px;
    }
}
@media(max-width:737px){
    .href_menu {
        font-size: 18px;
    }
    .text_adress {
        display: none;
    }
    .text_review {
        font-size: 20px;
    }
}
@media(max-width:684px){
    .logo{
        display: none;
    }  
    .right_header{
        display: none;
    }
    .center_header{
        display: none;
    }
    .menu{
        display: none;
    }
    .header{
        background-color: #6E58B8;
    }
    .burger_header{
        cursor: pointer;
        position: relative;
        width: 30px;
        height: 20px;
        display: block;
        top: 5px;
        z-index: 6;
    }
    .burger_header::before,
    .burger_header::after{
        content: '';
        background-color: #fff;
        height: 2px;
        position: absolute;
        width: 100%;
        transition: all 0.3s;
        left: 0;
    }
    .burger_header::before{
        top: 0;
    }
    .burger_header::after{
        bottom: 0;
    }
    .burger_header span{
        position: absolute;
        background-color: #fff;
        left: 0;
        width: 100%;
        height: 2px;
        transition: all 0.3s;
        top: 9px;

    }
    .burger_header.active:before{
        transform: rotate(45deg);
        top: 9px;
    }
    .burger_header.active span{
        transform: scale(0);
    }
    body.lock{
        overflow: hidden;
    }
    .menu{
        margin-top: 0px;
    }
    nav {
        top: -100%;
        position: fixed;
        top: 0;
        transition: all 0.3s;
        display: none;
        left: 0;
        right: 0;
        text-align: right;
        background-color: #6E58B8;
        box-shadow: 0px 0px 0px rgb(0 0 0 / 0%);
        padding: 0px;
        border-radius: 0px;
        z-index: 3;
        
        width: 100%;
        padding-top: 50px;
    }
    .link_menu_last{
        padding-bottom: 40px;
    }
    ul{
        padding: 0px;
        margin: 0px;
        text-align: center;
        line-height: 60px;
    }
    .list_item{
    flex-direction: column;
    }
    .href_menu{
        color: #fff;
    }
    .menu.active{
        display: block;
    }
    .burger_header.active:after{
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .tel_block_right{
        display: block;
    }
    .text_logo{
        color: #fff;
        display: block;
        font-size: 26px;
        font-weight: 600;
        padding-left: 15px;
    }
    .tel_block_left{
        display: flex;
    }
    .text_tel_right_block{
        font-size: 26px;
        color: #fff;
        font-weight: 600;
        display: block;
    }
}
@media(max-width:660px){
    .footer_third_block{
        display: none;
    }
    .title_footer_first_block{
        text-align: center;
    }
    .link_footer_second {
        padding-top: 0px; 
    }
    .next_footer_link{
        display: block;
        color: #0998FF;
        cursor: pointer;
    }
    .footer_third_block.active{
        display: block;
    }
    .footer_third_block {
        padding-top: 0px;
    }
    .footer_inner{
        justify-content: center;
    }
}
@media(max-width:631px){
    .text_tel_right_block{
        font-size: 23px;
    }
    .block_slider_main_btns{
        flex-wrap: wrap;
        display: flex;
        
    }
    .btn_slider_price{
    }
    .btn_slider_reg{
        margin-top: 40px;
        margin-right: 30px;
        margin-left: 0px;
    }
    .working_since{
        display: none

    }
    .sub_title_text_progress_main{
        display: none;
    }
    .years_progress_main {
        font-size: 211px;
    }
    .right_block_main_progress_text {
        padding-top: 102px;
        padding-left: 30px;
    }
}
@media(max-width:590px){
    .href_comment {
        padding-left: 12px;
    }
    .btn_hrefs_comment {
        margin-left: 13px;
    }
}
@media(max-width:565px){
    .text_tel_right_block{
        font-size: 20px;
    }
    .block_comments{
        display: none;
    }
    .hrefs_comments{
        display: none;
    }
    .rating_comments{
        font-size: 58px;
        font-weight: 600;
        color: #4A4950;
    }
    .rare_itemst_rating_comment1,
    .rare_itemst_rating_comment2,
    .rare_itemst_rating_comment3,
    .rare_itemst_rating_comment4,
    .rare_itemst_rating_comment5{
        color: #4A4950;
        background-color: #F2C94C
        ;
        border-radius: 15px;
        display: block;
        font-size: 14px;
        margin-top: 12px;
        padding: 3px;
        font-weight: 600;
    }
    .rare_itemst_rating_comment1{
        width: 60%;
    }
    .rare_itemst_rating_comment2{
        width: 45%;
    }
    .rare_itemst_rating_comment3{
        width: 30%;
    }
    .rare_itemst_rating_comment4{
        width: 8%;
    }
    .rare_itemst_rating_comment5{
        width: 10%;
    }
    .tel_block_comment{
        display: block;
    }

}
@media(max-width:510px){
    .text_tel_right_block{
        display: none;
    }
    .list_tel li{
        display: none;
        padding-bottom: 10px;
    }
    .tel_block_left{
        padding-top: 10px;
    }
    .container {

        padding: 10px;

    }
    .list_tel li.active{
        display: block;
        line-height: 30px;
    }
    .tel_block_right{
        display: block;
    }
    .img_icon_block_tel{
        margin: 0;
    }
    .sub_list_tel{
        color: #fff;
        font-size: 18px;
    }
    .sub_ul_tel{
        padding: 0px;
    }
    .img_icon_block_tel{
        display: block;
    }
    .title_main_slider {
        font-size: 41px;

    }
    .text_review {
        font-size: 18px;
    }
    
}
@media(max-width:510px){
    .years_progress_main {
        font-size: 156px;
    }
    .right_block_main_progress_text {
        padding-top: 59px;
        padding-left: 10px;
    }
}
@media(max-width:482px){
    .title_services {
        font-size: 31px;

    }
    .text_services {
        font-size: 19px;
    }
}
@media(max-width:422px){
    .img_services_card{
        width: 100%;
    }
    .text_services_card {
        padding-left: 20px;
    }
    .title_card_services {
        padding-left: 20px;
    }
    .btn_services_card {
        margin-left: 20px;
    }
    .href_btn_services_card {
        padding: 9px 6px;

    }
}
@media(max-width:429px){
    .years_progress_main {
        font-size: 120px;
    }
    .right_block_main_progress_text {
        padding-top: 25px;
        padding-left: 10px;
    }
}
@media(max-width:408px){
    .title_services {
        font-size: 26px;
        padding-top: 90px;
    }
}
@media(max-width:391px){
    .text_logo {
        font-size: 20px;

    }
}
@media(max-width:370px){
    .href_btn_slider_price {
        font-size: 16px;

    }
    .href_btn_slider_reg {
        font-size: 16px;
    }
    .years_progress_main{
        display: none;
    }
    .right_block_main_progress_text{
        display: none;
    }
}
@media(max-width:350px){
    .container {
        max-width: 1700px;
        padding: 13px;
        z-index: 2;
        margin: 0 auto;
    }
    .img_icon_block_tel{
        padding-left: 20px;

    }
}

@media(max-width:330px){
    .href_btn_slider_price {
        padding: 15px 7px;

    }
    .btn_services_card {
        margin-left: 7px;
    }
    .href_btn_services_card{
        font-size: 14px;
    }
}
@media(max-width:310px){
    .title_main_slider {
        font-size: 37px;
    }
    .text_services_card {
        padding-left: 10px;
    }
    .title_card_services {
        padding-left: 10px;
    }
    .btn_services_card {
        margin-left: 5px;
    }
    
}